<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/security/registration.css">
</head>
<body>

<div class="container">
    <div th:if="${error}" style="color: red;" th:text="${error}"></div>
    <div th:if="${success}" style="color: green;" th:text="${success}"></div>
    <form th:action="@{/register}" method="post">
        <label>
            Enter username<br>
            <input type="text" name="username" placeholder="Username" required>
        </label><br>
        <label>
            Enter password<br>
            <input type="password" name="password" placeholder="Password" required>
        </label><br>
        <label>
            Confirm password<br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        </label> <br>
        <label>
            Enter e-mail address<br>
            <input type="text" name="email" placeholder="E-mail" required>
        </label> <br>
        <button type="submit">Create account</button>
        <a th:href="@{/home}">Back to home</a>
    </form>
</div>
</body>
</html>