body {
    font-family: "JetBrains Mono", sans-serif;
    color: #F1F1F1;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin: 2vh auto 0;
}

table {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(255, 250, 84, 0.85);
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #111111;
}

th {
    background-color: #202020;
}

tr {
    background-color: rgba(68, 68, 68, 0.86);
    color: #ffffff;
    cursor: pointer;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr:hover {
    background-color: rgba(68, 68, 68);
    transition-duration: 0.3s;
    transform: translateY(-2px);
    color: #fffac3;
}

tr:nth-child(even) {
    background-color: rgb(58, 58, 58);
}