<div th:fragment="nav_bars">
    <nav class="upper-navbar">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/favorites}">Favorites</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
    <nav class="left-navbar">
        <ul>
            <li><a th:href="@{/alchemy}">Alchemy</a></li>
            <li><a th:href="@{/home}">Craft</a></li>
            <li><a th:href="@{/home}">Lore</a></li>
            <li><a th:href="@{/home}">Monsters</a></li>
            <li><a th:href="@{/home}">Characters</a></li>
        </ul>
    </nav>
</div>