<div th:fragment="nav_bars"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="upper-navbar">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/favorites}">Favorites</a></li>
            <li sec:authorize="!isAuthenticated()">
                <a href="#" onclick="openLoginPopup(); return false;">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="display: inline; " id="logoutForm">
                    <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                </form>
            </li>
        </ul>
    </nav>
    <nav class="left-navbar">
        <ul>
            <li><a th:href="@{/alchemy}">Alchemy</a></li>
            <li><a th:href="@{/home}">Craft</a></li>
            <li><a th:href="@{/home}">Lore</a></li>
            <li><a th:href="@{/home}">Monsters</a></li>
            <li><a th:href="@{/home}">Characters</a></li>
        </ul>
    </nav>
</div>