<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/components/nav-bars.css}">
    <link rel="stylesheet" th:href="@{/css/components/title-bar.css}">
    <link rel="stylesheet" th:href="@{/css/components/my-button.css}">
    <link rel="stylesheet" th:href="@{/css/pages/home.css}">
    <link rel="stylesheet" th:href="@{/css/components/theme-switcher.css}">
    <link rel="stylesheet" th:href="@{/css/security/login-modal.css}">
</head>
<body>
<div th:replace="~{components/title-bar('The Witcher III bestiary')}"></div>
<div th:replace="~{components/nav-bars :: nav_bars}"></div>
<div th:replace="~{components/theme-switcher :: theme-switcher}"></div>
<div th:replace="~{security/login-modal :: login-modal}"></div>

<div class="button-grid">
    <button class="button-block" onclick="redirect('alchemy')">ALCHEMY</button>
    <button class="button-block" onclick="redirect('home')">CRAFT</button>
    <button class="button-block" onclick="redirect('home')">LORE</button>
    <button class="button-block" onclick="redirect('home')">MONSTERS</button>
    <button class="button-block" onclick="redirect('home')">CHARACTERS</button>
    <button class="button-block" onclick="redirect('home')">SIGNS</button>
</div>

<script src="/js/components/buttons.js"></script>
<script src="/js/components/theme-switcher.js"></script>
<script src="/js/security/login-modal.js"></script>

</body>
</html>