.button-block {
    display: block;
    padding: 12px;
    background-color: #027ac6;
    color: white;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    width: 60%;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

.button-block:hover {
    background-color: #118bda;
    transform: translateY(-2px);
}

.button-block:active {
    background-color: #006cae;
}

.button-grid {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    row-gap: 4vh;
    padding-top: 5vh;
}