<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alchemy</title>
    <link rel="stylesheet" th:href="@{css/my_button.css}">
    <link rel="stylesheet" th:href="@{css/pinned_fragments.css}">
    <link rel="stylesheet" th:href="@{css/alchemy.css}">
</head>
<body>

<div th:replace="fragments/title-bar('Alchemy')"></div>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/left_navbar :: left_navbar"></div>

<div class="button-grid">
    <button class="button-block" onclick="redirect('alchemy/potions')">POTIONS</button>
    <button class="button-block" onclick="redirect('alchemy/elixirs')">ELIXIRS</button>
    <button class="button-block" onclick="redirect('alchemy/bombs')">BOMBS</button>
    <button class="button-block" onclick="redirect('alchemy/oils')">OILS</button>
    <button class="button-block" onclick="redirect('alchemy/decoctions')">DECOCTIONS</button>
    <button class="button-block" onclick="redirect('alchemy/home')">HOME</button>
</div>

<script src="/js/buttons.js"></script>
</body>
</html>