<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="page-title"></title>
    <link rel="stylesheet" href="/css/all_items.css">
    <link rel="stylesheet" th:href="@{/css/pinned_fragments.css}">
</head>
<body class="light-theme">
<div th:replace="fragments/left_navbar :: left_navbar"></div>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/theme-switcher :: theme-switcher"></div>
<main>
    <div id="title-bar">
        <h1 id="title-text"></h1>
    </div>
    <table id="items-table"></table>
    <button class="main-button" onclick="history.back()">← Back</button>
</main>
<script src="/js/all_items.js"></script>
<script src="/js/theme-switcher.js"></script>
</body>
</html>
