<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Potions List</title>
    <link rel="stylesheet" th:href="@{/css/potions_style.css}">
    <link rel="stylesheet" th:href="@{/css/pinned_fragments.css}">

</head>
<body>
<div th:replace="fragments/title-bar :: title-bar('List of Potions')"></div>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/left_navbar :: left_navbar"></div>

<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="potion : ${potions}"
            th:attr="onclick=|window.location.href='/potions/${potion.id}'|"
            style="cursor: pointer;">

            <td th:text="${potion.id}"></td>
            <td th:text="${potion.name}"></td>
            <td th:text="${potion.costOfCrafting}"></td>
            <td th:text="${potion.description}"></td>
        </tr>
        </tbody>
    </table>
    <button onclick="location.href='/alchemy'">← Back to Alchemy</button>
</main>

</body>
</html>
