<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/pinned_fragments.css}">
    <link rel="stylesheet" th:href="@{/css/my_button.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="fragments/title-bar('The Witcher III bestiary')"></div>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/left_navbar :: left_navbar"></div>

<div class="button-grid">
    <div th:replace="fragments/my_button :: blockButton('ALCHEMY', '/alchemy')"></div>
    <div th:replace="fragments/my_button :: blockButton('CRAFT', '/home')"></div>
    <div th:replace="fragments/my_button :: blockButton('LORE', '/home')"></div>
    <div th:replace="fragments/my_button :: blockButton('MONSTRERS', '/home')"></div>
    <div th:replace="fragments/my_button :: blockButton('CHARACTERS', '/home')"></div>
    <div th:replace="fragments/my_button :: blockButton('SIGNS', '/home')"></div>
</div>

</body>
</html>