<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Bomb: ' + ${bomb.name}"></title>
    <link rel="stylesheet" th:href="@{/css/potions_style.css}">
    <link rel="stylesheet" th:href="@{/css/pinned_fragments.css}">
</head>
<body>

<div th:replace="fragments/title-bar :: title-bar('Bomb: ' + ${bomb.name})"></div>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/left_navbar :: left_navbar"></div>

<main>
    <h2>
        <span>Name: </span>
        <span th:text="${bomb.name}">Name</span>
    </h2>

    <h2>
        <span>Description: </span>
        <span th:text="${bomb.description}">Description</span>
    </h2>

    <button onclick="location.href='/bombs'">← Back to list</button>
</main>

</body>
</html>