<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Potion: ' + ${potion.name}">Potion</title>
    <link rel="stylesheet" th:href="@{/css/potions_style.css}">
    <link rel="stylesheet" th:href="@{/css/pinned_fragments.css}">

</head>
<body>
<div th:replace="fragments/upper_navbar :: upper_navbar"></div>
<div th:replace="fragments/left_navbar :: left_navbar"></div>

<h1 style="text-align:center;" th:text="'Potion: ' + ${potion.name}">Potion Name</h1>

<h2>
    <span>Name: </span>
    <span th:text="${potion.name}">Name</span>
</h2>

<h2>
    <span>Description: </span>
    <span th:text="${potion.description}">Description</span>
</h2>

<button onclick="location.href='/potions'">← Back to list</button>

</body>
</html>
