.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #202020;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #444444;
}