.upper-navbar {
    background-color: #313131;
    width: 20%;
    height: 10vh;
    margin-left: auto;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;
    box-shadow: 0 0 0 2px #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-navbar ul {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.upper-navbar li {
    flex: 1;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: "JetBrains Mono", sans-serif;
    padding: 0.5em;
    box-sizing: border-box;
}

.upper-navbar a:hover {
    background-color: #171717;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)) 1;
}

.upper-navbar form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.left-navbar {
    background-color: #313131;
    padding: 0;
    width: 20vw;
    min-width: 15vw;
    margin-left: auto;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 2px;
    z-index: 10000;
    box-shadow: 0 0 0 2px #bfbfbf;
}

.left-navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
    padding: 0;
    margin: 0;
}

.left-navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-family: "JetBrains Mono", sans-serif;
    overflow: hidden;
}

.left-navbar a:hover {
    background-color: #0d0d0d;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)) 1;
}